.single-feature img {
    width: 20%;
    padding-bottom: 12px;
}
.features{
    margin-top: 80px;
}
.feature-center{
    display: flex;
    align-items: center;
}
.single-feature{
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 50px -30px rgb(0 0 0 / 45%);
    -moz-box-shadow: 0px 0px 50px -30px rgba(0,0,0,.45);
    box-shadow: 0px 0px 50px -30px rgb(0 0 0 / 45%);
    margin-bottom: 35px;
    padding: 20px;
    text-align: center;
}